# PLOTLY ASSIGNMENT

In [2]:
pip install plotly

Requirement already satisfied: plotly in /opt/conda/lib/python3.10/site-packages (5.23.0)
Requirement already satisfied: tenacity>=6.2.0 in /opt/conda/lib/python3.10/site-packages (from plotly) (9.0.0)
Requirement already satisfied: packaging in /opt/conda/lib/python3.10/site-packages (from plotly) (22.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
import plotly.express as px
import warnings
warnings.filterwarnings("ignore")

1. Using the given dataset, to generate a 3D scatter plot to visualize the distribution of data points in a threedimensional space.
np.random.seed(30) 
data = { 
    'X': np.random.uniform(-10, 10, 300), 
    'Y': np.random.uniform(-10, 10, 300), 
    'Z': np.random.uniform(-10, 10, 300) 
} 
df = pd.DataFrame(data)

In [15]:
#solution 1
np.random.seed(30)
data = {
    'X': np.random.uniform(-10, 10, 300),
    'Y': np.random.uniform(-10, 10, 300),
    'Z': np.random.uniform(-10, 10, 300)
}
df = pd.DataFrame(data)
df

            X         Y         Z
0    2.882871 -7.376076  6.925787
1   -2.385030 -5.950714 -8.410773
2    3.260958  0.853469 -6.647725
3   -6.726985 -6.602615 -3.725201
4    9.252156 -4.791792 -0.580081
..        ...       ...       ...
295 -0.369458 -6.543074  9.941758
296 -3.675668 -6.671420 -2.019459
297 -6.393715 -6.040683  1.774010
298 -0.007816  9.738364 -1.721501
299 -4.623348  7.697305  1.604021

[300 rows x 3 columns]

In [16]:
import plotly.io as pio
pio.renderers.default = 'iframe'
fig = go.Figure()
fig.add_trace(go.Scatter3d(x= df.X,y = df.Y,z = df.Z))

2. Using the Student Grades, create a violin plot to display the distribution of scores across different grade
categories.
np.random.seed(15) 
data = { 
    'Grade': np.random.choice(['A', 'B', 'C', 'D', 'F'], 200), 
    'Score': np.random.randint(50, 100, 200) 
} 
df = pd.DataFrame(data

In [18]:
#solution 2
np.random.seed(15)
data = {
    'Grade': np.random.choice(['A', 'B', 'C', 'D', 'F'], 200),
    'Score': np.random.randint(50, 100, 200)
}
df = pd.DataFrame(data)
df

    Grade  Score
0       A     89
1       F     50
2       A     72
3       F     66
4       D     87
..    ...    ...
195     F     78
196     D     84
197     A     93
198     D     67
199     C     56

[200 rows x 2 columns]

In [19]:
fig = px.violin(x = df.Grade,y = df.Score)
fig.show()

3. Using the sales data, generate a heatmap to visualize the variation in sales across different months and
days.
np.random.seed(20) 
data = { 
    'Month': np.random.choice(['Jan', 'Feb', 'Mar', 'Apr', 'May'], 100), 
    'Day': np.random.choice(range(1, 31), 100), 
    'Sales': np.random.randint(1000, 5000, 100) 
} 
df = pd.DataFrame(data)

In [21]:
#solution 3

np.random.seed(20)
data = {
    'Month': np.random.choice(['Jan', 'Feb', 'Mar', 'Apr', 'May'], 100),
    'Day': np.random.choice(range(1, 31), 100),
    'Sales': np.random.randint(1000, 5000, 100)
}
df = pd.DataFrame(data)
df

   Month  Day  Sales
0    Apr   23   4835
1    Mar   10   2099
2    May   10   2094
3    Mar   22   4809
4    Feb    3   1969
..   ...  ...    ...
95   May   19   1375
96   Mar   12   3909
97   Feb   20   2264
98   May   16   1548
99   Feb    9   3893

[100 rows x 3 columns]

In [25]:
fig = px.imshow(df,text_auto = True)
fig.show()

4. Using the given x and y data, generate a 3D surface plot to visualize the function 
x = np.linspace(-5, 5, 100) 
y = np.linspace(-5, 5, 100) 
x, y = np.meshgrid(x, y) 
z = np.sin(np.sqrt(x**2 + y**2))  
data = { 
    'X': x.flatten(), 
    'Y': y.flatten(), 
    'Z': z.flatten() 
} 
df = pd.DataFrame(data)

In [28]:
#solution 4
x = np.linspace(-5, 5, 100)
y = np.linspace(-5, 5, 100)
#x, y = np.meshgrid(x, y)
z = np.sin(np.sqrt(x**2 + y**2))
data = {
    'X': x.flatten(),
    'Y': y.flatten(),
    'Z': z.flatten()
}
df = pd.DataFrame(data)
df

          X        Y         Z
0  -5.00000 -5.00000  0.708861
1  -4.89899 -4.89899  0.601225
2  -4.79798 -4.79798  0.481340
3  -4.69697 -4.69697  0.351650
4  -4.59596 -4.59596  0.214796
..      ...      ...       ...
95  4.59596  4.59596  0.214796
96  4.69697  4.69697  0.351650
97  4.79798  4.79798  0.481340
98  4.89899  4.89899  0.601225
99  5.00000  5.00000  0.708861

[100 rows x 3 columns]

In [58]:
fig = go.Figure()
fig.add_trace(go.Scatter3d(z = df.Z,x= df.X,y = df.Y))

5. Using the given dataset, create a bubble chart to represent each country's population (y-axis), GDP (xaxis), and bubble size proportional to the population.
np.random.seed(25) 
data = { 
    'Country': ['USA', 'Canada', 'UK',
'Germany', 'France'], 
    'Population':
np.random.randint(100, 1000, 5), 
    'GDP': np.random.randint(500, 2000,
5) 
} 
df = pd.DataFrame(data)

In [60]:
#Solution 5
np.random.seed(25)
data = {
    'Country': ['USA', 'Canada', 'UK',
'Germany', 'France'],
    'Population':
np.random.randint(100, 1000, 5),
    'GDP': np.random.randint(500, 2000,
5)
}
df = pd.DataFrame(data)
df

   Country  Population   GDP
0      USA         232  1386
1   Canada         418   755
2       UK         574  1675
3  Germany         243  1440
4   France         417  1265

In [65]:
fig = px.scatter(x = df.Country,y = df.GDP,size = df.Population)
fig.show()